nav {
  background-color: #2c2e51;
  padding: 20px;
  border-radius: 40px;
} 
.nav-item {
  color: #f4e0ff;
  font-size: x-large;
  font-family:sans-serif;
  padding-left: 50px;
  padding-bottom: 100px;
  height:50px;
  position: relative;
  bottom:20px;
}

body
  {background:#f4e0ff
  padding: auto;}
h1{
  color:#2c2e51;
  font-family:sans-serif;
  font-size: xx-large;}
h2{
  color:#2c2e51;
  font-family:sans-serif;
  font-size:x-large; 
}
p{
  color:#2c2e51;
  font-family:sans-serif; 
  font-size:large;
  text-align: justify;
  text-justify: auto
}
.iconapp{
  display: flex;
  justify-content:center;
  padding-top: 100px;
  }

.iconapp img{padding-right: 200px;
padding-left: 200px}

.logo{margin-left:20px;
border-radius: 20%}

.haut{display: flex;
justify-content: center;
padding-top:50px;
  width: auto;
  height: 315px;
  object-fit: contain;
 }

.appli{
display: flex;
justify-content: center ;
padding-top: 100px;
padding-bottom: 50px}

.appli p {padding-right: 20px}

.amelie{column-count:3;
width:1200px;
height:auto;}

.sarah {column-count:3;
width:1200px;
height:auto;}

.camille {column-count:3;
width:1200px;
height:auto;}

